<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
  </div>
<% elsif alert.present? %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= alert %>
</div>
<% end %>